/* @media screen and (min-width: 1080px) {
    #part1 {
        height: 6.7vh;
    }
    #part2 {
        height: 56.3vh; 
        width: 100%;
    }
    #part3 {
        height: 37vh;
    }
} */

*{
    box-sizing: border-box;
}

.tatutop:hover{
    transform: scale(1.05, 1.03); 
}

.tatutop {
    transition: all 0.5s ease;
}