
*{
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.tatutop:hover{
    transform: scale(1.05, 1.03); 
}

.tatutop {
    transition: all 0.5s ease;
}


/* #car {
    margin: 0 auto;
    margin-left: -250px;
    margin-bottom: 100px;
} */